body {
  margin: 0;
  font-family: 'Arial', Arial;
  background-color: #f5f5f5;
}

#canvasContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

#inputContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  z-index: 1;
}

.sliderContainer {
  margin-bottom: 15px;
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sliderLabel {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.sliderValue {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  text-align: right;
  color: #666;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(to right, #504aad, #14084b);
  outline: none;
  transition: background 0.3s;
  cursor: pointer;
}

.slider:hover {
  background: linear-gradient(to right, #504aad, #14084b);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 15px; 
  background: #f80303;
  border: 2px solid #03bcf5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.slider::-webkit-slider-thumb:hover {
  background: #f0f0f0;
  border-color: #03bcf5;
}

#inputBox {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #020000;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

#inputBox:focus {
  border-color: #4CAF50;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

#generateRandomSeedButton, #seedButton {
  flex: 1;
  margin-right: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #00c2fd;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

#generateRandomSeedButton:hover, #seedButton:hover {
  background-color: #012c50;
}

#generateRandomSeedButton:active, #seedButton:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#generateRandomSeedButton:last-child, #seedButton:last-child {
  margin-right: 0;
}
